

body {
  font-family: 'Lato', sans-serif;
  background-color: black;
  margin: 0;
}

*:focus {
  outline: none;
}

.header {
  height: 180px;
  color: lavenderblush;
  padding: 1em;
  background-color: darkorchid;
  font-size: 2em;
  opacity: .9;
}

#deets {
  padding: 0px;
  font-size: .5em;
}

button {
  border: 1px solid;
  border-radius: 35px;
  color: lavenderblush;
  border-color: lavenderblush;
  padding: .4em 1em .4em 1em;
  margin-top: .5em;
  background-color: rgba(255,45,234, .5);
  font-size: .7em;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(2, 100%);
    min-height: 500px;
    color: lavenderblush;
    background-color: rgba(255,0,144,.2);
    padding: 2em;
}

.post-form {
  display: none;
  width: 96%;
  font-size: 1.2em;
  margin-top: .2em;
  border-radius: 5px;
  padding: .3rem .7rem
}

.show-post {
  display: none;
  width: 90%;
  height: 100%;
  margin-left: 2rem
  /* position: absolute;
  top: 0;
  left: 0; */
}

#save {
font-size: 1.2em;
}

#blog-title {
  font-size: 1.5em;
  font-style:italic;
  border-bottom: 1px white;
  max-width: 100%;
  margin-top: .5rem;
}

#blog-content {
  margin-top: .5rem;
  max-width: 100%;
}

#blog-image {
  margin-top: .5rem;
  max-width: 100%;
}

#new-post {

}

#post-selection {
  font-size: 1.3em;
  display: table;
  max-width: 90%;
}

#save-status {
    margin-top: .2em;
    display: block;
    /* bottom: 0; */
    /* width: 100px; */
    /* height: 20px; */
    font-size: .5em;
    /* bottom: 0; */
    text-align: center;
    background-color: rgba(124, 252, 0, .5);
    /* opacity: 1;
    transition: opacity .5s; */
}
